<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table>
		<thead>
			<th>Id</th>
			<th>Name</th>
			<th>Position</th>
			<th>Department</th>
			<th>Contact</th>
		</thead>
		<tbody>
			<tr th:each="employee : ${employees}">
				<td th:text="${employee.id}">Id</td>
				<td th:text="${employee.name}">Student Name</td>
				<td th:text="${employee.position}">Position</td>
				<td th:text="${employee.department}">Department</td>
				<td th:text="${employee.contact}">Contact</td>
				
				<td >
				<form th:action="@{/employee/delete}" method="POST">
				<input type="hidden" name="id" th:value="${employee.id}">
				<button type="submit">Delete</button>
				</form>
				</td>
				<td>
				<form th:action="@{/employee/edit}" method="GET">
				<input type="hidden" name="id" th:value="${employee.id}">
				<button type="submit">Edit</button>
				</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>