<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="'/saveupdate'" th:object="${employee}" method="POST">
<div>
<input type="hidden" th:field="*{id}" name="id">
<label for="name">Employee Name</label>
<input type="text" placeholder="Enter your name" name="name" th:field="*{name}">
<label for="position">Position</label>
<input type="text" placeholder="Enter your position" name="position" th:field="*{position}">
<label for="department">Department</label>
<input type="text" placeholder="Enter your department" name="department" th:field="*{department}">
<label for="contact">Contact</label>
<input type="text" placeholder="Enter your contact" name="contact" th:field="*{contact}">
<input type="hidden" th:field="*{username}" name="username">
<br>
<input type="hidden" th:field="*{password}" name="password">
  
<input type="submit" value="Update">
</div>
<a th:href="@{/employeelogin}">Login Here</a>

</form>

</body>
</html>